-
    const categoryProduct = [
        'Máy in phun khổ lớn',
        'Máy quét Canon 3D',
        'Máy hàn điện Alunima',
        'Máy khoan Decameta',
        'Máy phay đa năng CNC',
        'Máy mài, tiện DC 12V',
        'Máy khoan, cắt CNC',
        'Máy quay thông minh N3',
        'Motor R34C đa dụng',
        'Máy in laser màu 3D'
    ]

-
    const categoryNews = [
        'Đời sống pháp luật (5)',
        'Kinh tế trong nước (8)',
        'Sức khoẻ gia đình (9)',
        'Công nghệ thông tin',
        'Tin tức khác (12)'
    ]
    
- 
    const categoryPrice = [
        {
            price: '0 - 200.000 Đ  (45)',
            minPrice: 0,
            maxPrice: 200000,
        },
        {
            price: '200.000 Đ - 500.000 Đ (32)',
            minPrice: 200000,
            maxPrice: 500000,
        },
        {
            price: '500.000 Đ - 1000.000 Đ (27)',
            minPrice: 500000,
            maxPrice: 1000000,
        },
        {
            price: '1000.000 Đ - 2000.000 Đ (16)',
            minPrice: 1000000,
            maxPrice: 2000000,
        },
        {
            price: 'Trên 2000.000 Đ (9)',
            minPrice: 2000000,
        }
    ]

-
    const categoryColor = [
        {
            icon: 'fas fa-square-full text-danger',
            color: 'Màu đỏ  (45)',
            dataColor: 'red'
        },
        {
            icon: 'fas fa-square-full text-warning',
            color: 'Màu vàng  (32)',
            dataColor: 'yellow'
        },
        {
            icon: 'fas fa-square-full text-primary',
            color: 'Màu xanh  (27)',
            dataColor: 'blue'
        },
        {
            icon: 'fas fa-square-full text-muted',
            color: 'Màu bạc  (16)',
            dataColor: 'gray'
        },
        {
            icon: 'fas fa-square-full text-dark',
            color: 'Màu đen  (9)',
            dataColor: 'black'
        }
    ]

-
    const categoryProductSale = [
        {
            image: 'product-sale-1.png',
            title: 'MÁY KHOAN BLACK DECKER LOẠI 1',
            price: '1.550.000 Đ'
        },
        {
            image: 'product-sale-2.png',
            title: 'MÁY KHOAN BLACK DECKER LOẠI 1',
            price: '1.550.000 Đ'
        },
        {
            image: 'product-sale-3.png',
            title: 'MÁY KHOAN BLACK DECKER LOẠI 1',
            price: '1.550.000 Đ'
        },
        {
            image: 'product-sale-4.png',
            title: 'MÁY KHOAN BLACK DECKER LOẠI 1',
            price: '1.550.000 Đ'
        },
        {
            image: 'product-sale-5.png',
            title: 'MÁY KHOAN BLACK DECKER LOẠI 1',
            price: '1.550.000 Đ'
        }
    ]

- const newsImage = ['1.png','2.png','3.png','4.png','5.png','6.png']
- const newsTag = ['thời trang','máy khoan','news','công nghiệp','xây dựng','phay','máy cắt','hoá chất']
