-
    const categoryProduct = [
        'Máy in phun khổ lớn',
        'Máy quét Canon 3D',
        'Máy hàn điện Alunima',
        'Máy khoan Decameta',
        'Máy phay đa năng CNC',
        'Máy mài, tiện DC 12V',
        'Máy khoan, cắt CNC',
        'Máy quay thông minh N3',
        'Motor R34C đa dụng',
        'Máy in laser màu 3D'
    ]

-
    const categoryNews = [
        'Đời sống pháp luật (5)',
        'Kinh tế trong nước (8)',
        'Sức khoẻ gia đình (9)',
        'Công nghệ thông tin',
        'Tin tức khác (12)'
    ]
    
- const newsImage = ['1.png','2.png','3.png','4.png','5.png','6.png']
- const newsTag = ['thời trang','máy khoan','news','công nghiệp','xây dựng','phay','máy cắt','hoá chất']
