-
    var aboutUs = {
        title: "Về chúng tôi",
        link: [
            {
                icon: 'mr-0',
                text: 'Công ty Cổ phẩn Công nghệ DKT đã và đang  khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử.'
            },
            {
                icon: 'fas fa-map-marker-alt',
                text: 'Tầng 4 - Tòa nhà Hanoi Group  442 Đội Cấn Ba Đình - Hà Nội'
            },
            {
                icon: 'fas fa-envelope',
                text: 'support@dkt.com.vn'
            },
            {
                icon: 'fas fa-mobile-alt',
                text: '(84-4) 66558868  -  (84-4) 37868904'
            }
        ]
    }

-
    var footerMain = [
        {
            title: "Chính sách",
            link: [
                'Chính sách giao hàng',
                'Chính sách đổi sản phẩm',
                'Chính sách bảo hành',
                'Chính sách trả góp',
                'Giới thiệu hàng đổi trả',
                'Vận chuyển miễn phí'
            ]
        },
        {
            title: "Dịch vụ & hỗ trợ",
            link: [
                'Hệ thống cửa hàng',
                'Hướng dẫn mua hàng',
                'Hướng dẫn thanh toán',
                'Tích điểm đổi thưởng',
                'Dịch vụ đổi trả hàng',
                'Câu hỏi thường gặp'
            ]
        },
        {
            title: "Tin tức - Sự kiện",
            link: [
                'Tin tức mới nhất',
                'Tin tức khuyến mại',
                'Tuyển dụng, đãi ngộ ',
                'Download tài liệu',
                'Chương trình đối tác',
                'Nhà phát triển ứng dụng'
            ]
        },
        {
            title: "Kết nối",
            link: [
                {
                    icon: 'fab fa-facebook-f',
                    title: 'Facebook'
                },
                {
                    icon: 'fab fa-twitter',
                    title: 'Twitter'
                },
                {
                    icon: 'fab fa-google-plus-g',
                    title: 'Google'
                },
                {
                    icon: 'fab fa-skype',
                    title: 'Skype'
                },
                {
                    icon: 'fab fa-instagram',
                    title: 'Instagram'
                }
            ]
        }
    ]

-
    var footerPayment = [
        'tech-com-bank.png',
        'vietin-bank.png',
        'vp-bank.png',
        'tp-bank.png',
        'maritime-bank.png',
        'dong-a-bank.png',
        'ab-bank.png',
        'viet-capital-bank.png'
    ]
