-
    var navigation = [
        'Trang chủ',
        'Giới thiệu',
        'Sản phẩm',
        'Tin khuyến mại',
        'Dịch vụ',
        'Liên hệ'
    ]

- 
    var socials = [
        'fab fa-facebook-f',
        'fab fa-google-plus-g',
        'fab fa-instagram',
        'fab fa-twitter'
    ]
