-
  var descriptions = [
    'Thiết kế nhỏ gọn, phù hợp, đa mục đích',
    'Mạnh mẽ, bền bỉ và hiệu suất lớn hơn',
    'Khoan cắt với độ chính xác tuyệt đối'
  ]
  
-
    var bannerContent = [
        {
            icon: 'fas fa-plane',
            title: 'Miễn phí vận chuyển',
            description: 'Chúng tôi miễn phí vận chuyển với các đơn hàng trị giá trên 1.000.000 Đ.'
        },
        {
            icon: 'fas fa-sync-alt',
            title: 'Chính sách đổi trả',
            description: 'Nếu phát hiện lỗi của nhà sản xuất, chúng tôi đổi mới sản phẩm trong 7 ngày đầu tiên.'
        },
        {
            icon: 'fas fa-gift',
            title: 'Khuyến mại hàng tuần',
            description: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.'
        },
        {
            icon: 'fas fa-thumbs-up',
            title: 'Cam kết chính hãng',
            description: 'Chúng tôi cam kết bán hàng chính hãng 100% đối với tất cả sản phẩm.'
        }
    ]

-
    var sidebarItems = [
        'Máy khoan, cắt CNC',
        'Máy in phun khổ lớn',
        'Máy quét Canon 3D',
        'Máy hàn điện Alunima',
        'Máy khoan Decameta',
        'Máy phay đa năng CNC',
        'Máy mài, tiện DC 12V',
        'Máy khoan, cắt CNC',
        'Máy quay thông minh N3',
        'Motor R34C đa dụng',
        'Máy in laser màu 3D'
    ]

-
    var featuredProductImages = [
        'featured-product-1.png',
        'featured-product-2.png',
        'featured-product-3.png',
        'featured-product-4.png',
        'featured-product-5.png',
        'featured-product-6.png',
    ]

-
    var newProductImages = [
        'new-product-1.png',
        'new-product-2.png',
        'new-product-3.png',
    ]

-
    var bestSellProducts = [
        'featured-product-4.png',
        'featured-product-3.png',
        'best-sell-product.png',
        'featured-product-6.png',
        'featured-product-5.png',
    ]

-
    var newImportProducts = [
        'new-import-product-1.png',
        'new-import-product-2.png',
        'new-import-product-3.png',
        'new-import-product-4.png',
    ]

-
    var partnerImages = [
        'infinite-flame.png',
        'art-workers.png',
        'media-line.png',
        'tech-brain.png',
        'mamolog.png'
    ]

-
    var productType = [
        'Máy khoan', 
        'Máy in 3D', 
        'Máy CNC', 
        'Máy tiện',
        'Máy khác'
    ]
