@import "../base/variables"

html
    font-size: 13px

    body 
        font-family: $primary-font
        font-weight: $fw-regular
        font-style: normal
        color: $text-color

        a
            color: $text-color
            &:hover
                color: $hover-color
                text-decoration: none

    
