mixin categoryItem({ icon, title, attribute= {}})
    li.category-item.transition
        a.category-link(href="javascript:void(0)")&attributes(attribute)
            i(class=icon)
            |#{title}

mixin category({ icon, title })
    nav
        ul.category
            h2.category-item 
                i(class=icon)
                |#{title}
            block
