extends ../layouts/default-layout

block content 
    -const breadcrumbItems = [{ link: "/", name: "Trang chủ" }]
    -const thead = ['STT', 'Sản phẩm', 'Thông tin', 'Đơn giá', 'Số lượng', 'Thành tiền', 'Xóa']
    -
        const carts = [
            {
                product: "./assets/images/products/new-import-product-1.png",
                name:"MÁY KHOAN, CẮT ĐA NĂNG CNC",
                price: 2350000,
                count:1
            },
            {
                product: "./assets/images/products/product-cart.png",
                name:"MÁY KHOAN, CẮT ĐA NĂNG CNC",
                price: 2350000,
                count:1
            },
            {
                product: "./assets/images/products/featured-product-4.png",
                name:"MÁY KHOAN, CẮT ĐA NĂNG CNC",
                price: 2350000,
                count:1
            }
        ]

    -
        const payment = [
            {
                title: 'Tổng tiền:',
                price: 6850000 
            },
            {
                title: 'Thuế(VAT):',
                price: 685000 
            },
            {
                title: 'Thanh toán:',
                price: 7520000 
            }
        ]

    +breadcrumb({ breadcrumbItems , currentPage: "Giỏ hàng" })

    section.cart
        .container
            h2.cart__empty Không có sản phẩm
            .cart__content
                table.table.table-bordered
                    thead
                        tr
                            each item in thead
                                th(scope="col")= item

                    tbody.cart__products

            .cart__buy
                table.table.table-bordered
                    tbody.text-right
                        tr
                            th Tổng tiền:
                            td.total-money
                        tr
                            th Thuế (VAT):
                            td.tax-money
                        tr
                            th Thanh toán:
                            td.total-payment

                .cart__button
                    a.button.button--black.button--large.transition(href="./product.html") TIẾP TỤC MUA HÀNG
                    a.button.button--yellow.button--large.transition(href="./payment.html") THANH TOÁN
