extends ../layouts/default-layout

block content
    -
        const productImage = [
            'featured-product-1.png',
            'featured-product-2.png',
            'featured-product-3.png',
            'featured-product-4.png',
            'featured-product-5.png',
            'featured-product-6.png',
            'product-1.png',
            'product-2.png',
            'product-3.png',
            'product-4.png',
            'featured-product-3.png',
            'featured-product-5.png',
            'product-5.png',
            'product-6.png',
            'product-7.png',
            'product-5.png',
            'product-6.png',
            'product-7.png'
        ]
    -const breadcrumbItems = [{ link: "/", name: "Trang chủ" }]
    +breadcrumb({ breadcrumbItems , currentPage: "Danh mục sản phẩm" })

    section.product
        .container
            .row 
                .col-md-3 
                    aside.product__sidebar
                        +category({ icon: 'fas fa-bars', title: 'DANH MỤC SẢN PHẨM' })
                            each item in categoryProduct
                                +categoryItem({ icon: 'fas fa-th-large', title: item })

                        +category({ icon: 'fas fa-dollar-sign', title: 'TÌM THEO MỨC GIÁ' })
                            each item in categoryPrice
                                +categoryItem({ icon: 'fas fa-th-large', title: item })

                        +category({ icon: 'fas fa-paint-brush', title: 'TÌM THEO MÀU SẮC' })
                            each item in categoryColor
                                +categoryItem({icon: item.icon, title: item.color})
                        
                        +category({ icon: 'fas fa-gift', title: 'SẢN PHẨM KHUYẾN MẠI' })
                            each item in categoryProductSale
                                li.category-item.category-sale.transition
                                    a.category-link(href="#")
                                        img.product__image(src=`../assets/images/products/${item.image}`)
                                        .product__info
                                            h2.product__title= item.title
                                            span.product__price= item.price

                .col-md-9
                    .product-action 
                        .action__sort
                            span.action__label Sắp xếp theo: 
                            select(id="sort-options" name="productsSort")
                                option(value="name-asc") Tên sản phẩm 
                                option(value="price-asc") Giá tăng dần
                                option(value="price-desc") Giá giảm dần
                                option(value="featured-product") Sản phẩm nổi bật
                            i.fas.fa-caret-down
                        .action__show.d-none.d-sm-block
                            span.action__label Show: 
                            select(id="show-options" name="productsShow")
                                option(value="3") 3
                                option(value="6") 6
                                option(value="12") 12
                                option(selected value="18") 18
                            i.fas.fa-caret-down

                    input#product-list(type="radio", name="product-list" hidden)
                    input#product-grid(type="radio", name="product-list" checked hidden)
                    label.icon-list(for="product-list") 
                        i.fas.fa-bars.icon-switch
                    label.icon-grid(for="product-grid") 
                        i.fas.fa-th.icon-switch

                    .product-grid
                        //- each item in productImage
                        //-     +productItem(item)

                    .product-list
                        each item in productImage
                            +productListItem(item)
                    
                    +pagination
